* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla";
}

nav {
  display: flex;
  align-items: center;
  width: 550px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

main {
  width: 550px;
  height: 550px;
  background: #fff;
  padding: 36px;
}

.nav_logo {
  padding-left: 30px;
}

.nav_title {
  color: #fff;
  padding-left: 6px;
  font-size: 20.748px;
  letter-spacing: -2.075px;
  margin-right: auto;
}

.nav_subtitle {
  padding-right: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}

.form_div {
  height: 20px;
}
.form_label {
  color: var(--gray-700, #374151);
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 16.375px;
}

.form_input {
  display: flex;
  padding-left: 10.644px;
  border-radius: 4.912px;
  border: 0.819px solid var(--gray-300, #d1d5db);
  background: var(--white, #fff);
  box-shadow: 0px 0.819px 1.637px 0px rgba(0, 0, 0, 0.05);
  color: var(--gray-500, #6b7280);
  font-size: 14px;
  height: 35px;
  width: 100%;
}

.form_button {
  height: 40px;
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
}

.memeImage {
  max-width: 100%;
  padding-top: 100px;
  border-radius: 3px;
}

.memeText {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
