body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.innerDiv {
  background-color: white;
  width: 700px;
  /* margin: 10px; */
  padding-bottom: 50px;
}
nav {
  height: 50px;
  width: 100%;
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_logo {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  padding-right: 8px;
}

.nav_title {
  display: flex;
  width: 109px;
  height: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -1px;
}

.card {
  padding-top: 50px;
  /* padding-left: 50px; */
  display: flex;
  justify-content: center;
}

.card_img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card_content {
  padding-left: 20px;
}

.card_stats {
  margin: auto;
  padding: 0px;
}

.card_marker {
  margin: auto;
  padding: 0px;
}

.card_location {
  width: 40px;
  height: 10px;
  padding-left: 4px;
  padding-bottom: 0px;
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.741px;
}

.gray {
  padding-left: 8px;
  width: 106px;
  height: 13px;
  flex-shrink: 0;
  color: #918e9b;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.card_title {
  width: 326px;
  height: 40px;
  color: #2b283a;
  font-size: 25px;
  font-weight: 700;
  margin: auto;
  padding-top: 7px;
  margin-left: 0px;
}

.card_date {
  width: 319px;
  height: 11px;
  color: #2b283a;
  font-size: 13px;
  font-weight: 700;
  margin: auto;
  padding-top: 7px;
  margin-left: 0px;
}

.card_description {
  width: 380px;
  font-family: Inter;
  color: #2b283a;
  font-size: 13px;
  line-height: 150%;
  margin: auto;
  padding-top: 9px;
  margin-left: 0px;
}
